/*--GLOBAL STYLES
--------------------------------------------
------------------------------------------*/
*{
   box-sizing:border-box; 
}
html{
    font-size:62.5%;    
}
body{
    font:400 1.6rem/2.4rem 'Open Sans', sans-serif;
    color:#88929d;
}
img{
    display:block;
    width:100%;
    max-width:100%;
}
.gridContainer{
    padding:0 5vw;
}


/*--HEADER
-----------------------------------------------
---------------------------------------------*/
.header{
    position:relative;
    z-index:4;    
}
/*--logo
-------------------------------------------*/
.logo{
    position:absolute;
    left:5vw;
    margin:5vw 0 0;
    z-index:4;
}
.logo ul{
    display:flex;
    width:143px;
    height:26px;
}
.logo li{    
    width:26px;
    text-indent:-9999px;
    overflow:hidden;
    margin:0 3px 0 0;
    background:url('../images/sprite/Orion_logo.png');
}
.logo li:last-child{
    margin:0;
}
.logo .r{
    background-position:0 -26px;
}
.logo .i{
    background-position:-1px -52px;
}
.logo .n{
    background-position:0 -78px;
}
/*--menu
--------------------------------------------*/
.menu ul{
    position:fixed;
    z-index:3;
    width:100%;
    background:rgba(0,0,0,.9);
    top:0;
    bottom:0;
    transition:all .5s;
    text-align:center;
    left:0;
    padding:calc(5vw + 60px) 0 0;
    display:none;
}
.menu ul.active{
    display:block;
}
.menu li{
    padding:20px 0;
}
.menu ul a{
    font:700 1.6rem/2.6rem 'Montserrat', sans-serif;
    color:#fff;
    display:block;
    width:inherit;
    text-transform:uppercase;
    text-decoration:none;
}
/*--humb
--------------------------------------------*/
.humbWrapp{
    position:absolute;
    right:5vw;
    margin:5vw 0 0;
    z-index:3;
}
.humb{
    position:relative;
    height:28px;
    width:32px;
    border-bottom:4px solid #fff;
    display:block;
    text-indent:-9999px;
}
.humb::before, .humb::after{
    height:4px;
    width:32px;
    background:#fff;
    content:'';
    position:absolute;
    left:0;
    top:0;
}
.humb::after{
    top:12px;
}

/*--MAIN
------------------------------------------------
----------------------------------------------*/
/*--slider
-------------------------------------------*/
.promo .slider{
    max-width:100%;
    height:100vh;
}
.slider .image{
    height:100vh;
    width:100vw;
    background:url('../images/Orion.jpg') center/cover no-repeat;
}
/*--slick-dots
-------------------------------------------*/
.slick-dots{
    display:flex;
    position:absolute;
    bottom:30px;
    z-index:3;
    left:calc(50% - 48px);
}
.slick-dots li{
    text-indent:-9999px;
    border:none;
    border-radius:50%;
    width:12px;
    height:12px;
    background:#636363;
    margin:0 30px 0 0;
}
.slick-dots li:last-child{
    margin:0;
}
.slick-dots .slick-active{
    background:#b7b7b7;
}
/*--promoContent
------------------------------------------*/
.promo .promoContent{
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:100vh;
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    z-index:2;
}
.promoContent p{
    color:#fff;
    text-align:center;
    margin:0 0 60px;
}
.promoContent .tagline{    
    text-transform:uppercase;
    font:700 3.8rem/4.5rem 'Montserrat', sans-serif;
    margin:0 0 10px;
}
.promoContent img{
    width:auto;
    margin:0 0 50px;
}
/*--double button
------------------------------------------*/
.doubleButton{    
    bottom:70px;
    border-radius:10px;
    background:#59a3fc;
}
.doubleButton li{
    position:relative;
    display:inline-block;
    padding:0 20px 0 10px;
    border-radius:10px 0 0 10px;
}
.doubleButton a{
    background:#59a3fc;
    display:block;
    font:700 1.6rem/6rem 'Montserrat', sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    
}
.doubleButton li:last-child{
    border-radius:0 10px 10px 0;
    padding:0 10px 0 20px;
}
.doubleButton span{
    position:absolute;
    left:-16px;
    top:calc(50% - 16px);
    width:32px;
    height:32px;
    border-radius:50%;
    background:#0078b2;
    font:700 1.6rem/3.2rem 'Montserrat', sans-serif;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
}
/*--servise
------------------------------------------*/
.servBox{
    background:#e7eef6;
    padding:30px 0;
}
.serviceIcon{
    position:relative;
    width:100px;
    height:100px;
    margin:0 0 30px;
    background:#cadaec;
    border-radius:5px;
}
.serviceIcon img{
    position:absolute;
    width:auto;
    left:calc(50% - 19px);
    top:calc(50% - 18.5px);
}
.service article{
    display:flex;
    flex-flow:column;
    align-items:center;
    text-align:center;
    margin:0 0 30px;
}
.service article:last-child{
    margin:0;
}
.service .type{
    margin:0 0 30px;
    font:700 2rem/2.6rem 'Montserrat', sans-serif;
    color:#555555;
}
/*--how we work
------------------------------------------*/
.weWorkBox{
    text-align:center;
    padding:40px 0;
    position:relative;
}
.weWork h1{
    font:400 3rem/3.6rem 'Montserrat', sans-serif;
    color:#464646;
    margin:0 0 30px;
}
.weWork p{
    margin:0 0 30px;
}
.chart{
    position:relative;
    text-align:left;
    background:url('../images/sprite/Line.jpg') repeat-y;
    background-position:11px 0;
    padding:40px 0;
    margin:0 0 30px;
}
.chart::before, .chart::after{
    position:absolute;
    content:'';
    width:20px;
    height:20px;
    background:#ffffff;
    border:3px solid #d2d3d7;
    border-radius:50%;
    left:0;
}
.chart::before{
    top:0;
}
.chart::after{
    bottom:0;
}
.chart li{
    position:relative;
    border:1px solid #d2d3d7;
    padding:20px;
    margin:0 0 30px 50px;
}
.chart li::before, .chart li::after{
    position:absolute;
    content:'';
    width:0;
    height:0;
    border-right:20px solid #d2d3d7;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    top:30px;
    left:-20px;
}
.chart li::after{
    border-right:20px solid #ffffff;
    left:-18px;
}
.chart li:nth-child(odd){
    border-bottom:4px solid #4fb1f3;
}
.chart li:nth-child(even){
    border-bottom:4px solid #ff1e4f;
}
.chart li:last-child{
    margin:0 0 0 50px;
}
.chart p{
    font:700 1.6rem/2.6rem 'Montserrat', sans-serif;
    color:#717171;
    margin:0 0 10px; 
}
.chart p::before{
    position:absolute;
    content:'';
    width:15px;
    height:15px;
    border-radius:50%;
    background:#4fb1f3;
    left:-46px;
    top:32px;
}
.chart li:nth-child(even) p::before{
    background:#ff1e4f;
}
.weWork a{
    display:block;
    width:calc(100% - 10vw);
    position:absolute;
    text-decoration:none;
    font:700 1.8rem/4.2rem 'Montserrat', sans-serif;
    color:#ffffff;
    background:#ff1e4f;
    border-radius:5px;
    padding:0 20px;
    bottom:-21px;
}

/*--our work
---------------------------------------*/
.ourWorkBox{
    text-align:center;
    padding:60px 0 100px;
    background:#e7eef6;
}
.ourWork h1{
    font:400 3rem/3.6rem 'Montserrat', sans-serif;
    color:#464646;
    margin:0 0 30px;
}
.ourWork p{
    margin:0 0 30px;
}
.workSlick{
    position:relative;
}
.workSlick .slick-prev, .workSlick .slick-next{
    width:32px;
    height:32px;
    position:absolute;
    bottom:-50px;
    text-indent:-9999px;
    border:none;
    outline:none;
    background:url('../images/sprite/slick_buttons.png');
    background-size:32px 128px;
}
.workSlick .slick-prev{
    background-position:0 -32px;
    right:60px;    
}
.workSlick .slick-next{
    background-position:0 -96px;
    right:0;    
}
.slickBlock a{
    display:block;
    position:relative;
    margin:0 0 20px;
}
.slickBlock a:last-child{
    margin:0;
}
.slickBlock span{
    position:absolute;
    display:block;
    text-decoration:none;
    text-align:center;
    font:700 1.6rem/4rem 'Open Sans', sans-serif;
    color:#ffffff;
    background:rgba(0,0,0,.7);
    width:120px;
    bottom:20px;
    left:20px;
}
/*--testimonials
---------------------------------------*/
.tBox{
    text-align:center;
    padding:60px 0 20px;
}
.testimonials h1{
    font:400 3rem/3.6rem 'Montserrat', sans-serif;
    color:#464646;
    margin:0 0 30px;
}
.testimonials > p{
    margin:0 0 30px;
}
.claim{
    display:flex;
    flex-flow:column;
    align-items:center;
}
.claim img{
    border-radius:50%;
    width:auto;
    margin:0 0 30px;
}
.speechBubble{
    position:relative;
    text-align:left;
    border:1px solid #d2d3d7;
    border-radius:7px;
    padding:20px;
}
.speechBubble::before, .speechBubble::after{
    position:absolute;
    content:'';
    width:0;
    height:0;
    border-bottom:20px solid #d2d3d7;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    top:-20px;
    left:calc(50% - 10px);
}
.speechBubble::after{
    border-bottom:20px solid #ffffff;
    top:-18px;
}
.claim h2{
    font:400 2rem/2.8rem 'Montserrat', sans-serif;
    color:#111111;
    vertical-align:baseline;
    margin:0 0 20px;
}
.claim span{
    font:400 1.4rem/2.8rem 'Montserrat', sans-serif;
}


/*--team
---------------------------------------*/
.teamBox{
    text-align:center;
    padding:60px 0 20px;
}
.team h1{
    font:400 3rem/3.6rem 'Montserrat', sans-serif;
    color:#464646;
    margin:0 0 30px;
}
.team p{
    margin:0 0 30px;
}
.employees{
    counter-reset:myCounter;
}
.employees > li{
    display:flex;
    flex-flow:column;
    align-items:center;
    list-style:none;
    margin:0 0 40px;    
}
.employees .pict{
    position:relative;
}
.employees .pict::before{
    position:absolute;
    counter-increment:myCounter;
    content:counter(myCounter);
    font:700 1.8rem/3.2rem 'Montserrat', sans-serif;
    color:#ffffff;
    background:#3498db;
    display:inline-block;
    text-align:center;
    width:32px;
    height:32px;
    border:5px solid #ffffff;
    border-radius:50%;
    left:-15px;
    top:43px;
}
.employees img{
    border-radius:50%;
    width:auto;
    margin:0 0 30px;
}
.employees h2{
    font:400 2rem/2.6rem 'Montserrat', sans-serif;
    margin:0 0 5px;
    color:#111111;
}
.employees p{
    font:400 1.4rem/2rem 'Open Sans', sans-serif;
    margin:0 0 20px;
}
.employees ul{
    display:flex;
    width:132px;
    height:24px;
}
.employees ul li{
    width:24px;
    margin:0 30px 0 0;
}
.employees ul li:last-child{
    margin:0;
}
.employees ul a{
    display:block;
    height:24px;
    background:url('../images/sprite/socials.png');
}
.employees ul .fb{
    background-position:0 0;
}
.employees ul .tw{
    background-position:0 -24px;
}
.employees ul .dr{
    background-position:0 -48px;
}

/*--FOOTER
-------------------------------------------------
-----------------------------------------------*/

/*--map
---------------------------------------*/
.map{
    height:500px;
    width:100%;
    background:url('../images/map.jpg') no-repeat;
    background-position:center;
    background-size:cover;
}
/*--address
---------------------------------------*/
.addressBox{
    position:relative;
    height:100%;
}
.address{
    position:absolute;
    width:calc(100% - 10vw);
    background:#ffffff;
    border-radius:7px;
    bottom:60px;
}
.address::before{
    position:absolute;
    content:'';
    width:0;
    height:0;
    border-bottom:30px solid #ffffff;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    left:calc(50% - 33px);
    top:-29px;
}
.address p:nth-child(1){
    font:400 2rem/2.8rem 'Montserrat', sans-serif;
    color:#555555;
    margin:20px 20px 10px;
}
.address p:nth-child(2){
    font:400 1.6rem/2.4rem 'Montserrat', sans-serif;
    color:#acacac;
    margin:0 20px 20px;
}
.address a{
    display:block;
    background:#3498db;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:0 0 7px 7px;
    font:700 1.8rem/4rem 'Montserrat', sans-serif;
    color:#ffffff;
}
/*--partners
------------------------------------------*/
.partnerBox{
    background:#111111;
    padding:40px 0;
}
.partner{
    display:flex;
    flex-flow:column;
    align-items:center;
}
.partner img{
    width:auto;
    margin:0 0 30px;
}
.partner img:last-child{
    margin:0;
}
/*--basement
------------------------------------------*/
.basementBox{
    background:#000000;
    padding:40px 0;
}
.lists ul{
    display:flex;
    flex-flow:column;
    align-items:center;
    margin:0 0 30px;
}
.lists h4{
    font:700 2rem/4rem 'Open Sans', sans-serif;
    text-transform:uppercase;
    color:#d7d7d7;
}
.lists a{
    font:400 1.8rem/3.5rem 'Open Sans', sans-serif;
    text-decoration:none;
    color:#d7d7d7;
}
.lists span{
    text-transform:uppercase;
}
.subscribe{
    display:flex;
    flex-flow:column;
    align-items:center;
}
.subscribe form{
    margin:0 0 20px;
}
.subscribe form p{
    font:700 1.8rem/2.8rem 'Open Sans', sans-serif;
    text-transform:uppercase;
    color:#d7d7d7;
}
.subscribe input[type='email'], .subscribe input[type='submit']{
    border:none;
    outline:none;
}
.subscribe input[type='email']{
    font:400 1.6rem/4rem 'Open Sans', sans-serif;
    background:#363636;
    padding:0 20px;
    
}
.subscribe input[type='submit']{
    font:900 1.6rem/4rem 'Lato', sans-serif;
    color:#b7b7b7;
    background:#555555;
    padding:0 10px;
}
.subscribe input[type='email']::-webkit-input-placeholder{
    color:#5c5c5c;
}
.subscribe>p:nth-child(2), .subscribe>p:nth-child(3){
    color:#535353;
}
.subscribe>p:nth-child(2){
    font:400 1.4rem/2rem 'Open Sans', sans-serif;    
    margin:0 0 10px;    
}
.subscribe>p:nth-child(3){
    font:400 1.4rem/2rem 'Lato', sans-serif;
}
.subscribe .heart{
    display:inline-block;
    width:14px;
    height:14px;
    background:url('../images/sprite/heart.png');
    background-size:14px 14px;
}


/*--@MEDIA 768px
-------------------------------------------------
-----------------------------------------------*/
@media screen and (min-width:768px){
    
    /*--slider
    --------------------------*/
    .slick-dots{
        bottom:80px;
    }
    /*--promo
    --------------------------*/
    .promoContent .tagline {
        font: 700 4.8rem/5.2rem 'Montserrat', sans-serif;
    }
    /*--double button
    --------------------------*/
    .doubleButton li, .doubleButton li:last-child{
        padding:0 30px;
    }
    /*--service
    --------------------------*/
    .servBox{
        padding:30px 0 0;
    }
    .service{
        display:flex;
        flex-flow:wrap;
        justify-content:space-between;
        align-items:center;
    }
    .service article{
        flex:0 calc(50% - 20px);
    }
    .service article:last-child{
        margin:0 0 30px; 
    }
        
    /*--how we work
    --------------------------*/
    .chart{
        background-position:center 0;
    }
    .chart::before, .chart::after{
        left:calc(50% - 13px);    
    }
    .chart li{
        width:calc(50% - 38px);
    }
    .chart li:nth-child(odd){
        margin:0 0 30px calc(50% + 38px);
    }
    .chart li:nth-child(even){
        width:calc(50% - 38px);
        margin:0;
    }
    .chart li:last-child{
        margin:0;
    }
    .chart li:nth-child(even) p::before{
        left:auto;
        right:-47px;
    }
    .chart li:nth-child(even)::before, .chart li:nth-child(even)::after{
        transform:rotate(180deg);
        left:auto;
        right:-18px;
    }
    .chart li:nth-child(even)::before{
        left:auto;
        right:-20px;
    }
    .weWork a{
        width:250px;
        left:calc(50% - 125px);
    }
        
    /*--our work
    --------------------------*/
    .ourWork p{
        margin:0 0 60px;
    }
    .slickBlock{
        padding:0 10px;
    }
    .workSlick .slick-prev{
        right:70px;    
    }
    .workSlick .slick-next{
        right:10px;    
    }
    /*--testimonials
    --------------------------*/
    .claim{
        flex-flow:row nowrap;
        align-items:flex-start;
        justify-content:center;
    }
    .claim img{
        margin:0 40px 0 0;
    }
    .speechBubble{
        max-width:500px;
    }
    .speechBubble::before, .speechBubble::after{
        transform:rotate(-90deg);
        top:40px;
        left:-20px;
    }
    .speechBubble::after{
        left:-18px;
    }
    /*--team
    --------------------------*/
    .employees{
        display:flex;
        flex-flow:wrap;
        align-items:flex-start;
    }
    .employees > li{
        flex:0 50%;
    }
    /*--Footer
    ------------------------------------------*/
    /*--address
    ---------------------------*/
    .address{
        width:420px;
        left:calc(50% - 210px);
    }
    /*--partners
    ---------------------------*/
    .partner{
        flex-flow:row wrap;
        justify-content:space-around;
        align-items:center;
    }
    .partner img{
        margin:0;
    }
    /*--basement
    ---------------------------*/
    .lists{
        display:flex;
        justify-content:space-around;
    }
}

/*--@MEDIA 990px
------------------------------------------------
----------------------------------------------*/
@media screen and (min-width:990px){
    /*--Global
    --------------------------------*/
    .gridContainer{
        padding:0;
        max-width:990px;
        margin:0 auto;
    }
        
    /*--logo
    --------------------------*/
    .logo{
        left:auto;
        margin:0;
        padding:30px 0 0;
    }
    .logo li{
        transition:all .4s ease;
    }
    .logo:hover .o1{
        background-position:0 -78px;
    }
    .logo:hover .r{
        background-position:0 0;
    }
    .logo:hover .o2{
        background-position:0 -26px;
    }
    .logo:hover .n{
        background-position:0 0;
    }
    
    /*--menu
    --------------------------*/
    .menu{
        position:relative;
    }
    .menu ul{
        position:absolute;
        display:flex;
        width:auto;
        background:none;
        right:0;
        left:auto;
        top:auto;
        bottom:auto;
        padding:20px 0 0;
    }
    .menu li {
        padding:0 10px;
    }
    .menu li:hover{
        border-radius:5px;
        background:#3498db;
    }
    .menu ul a{
        font: 700 1.6rem/4rem 'Montserrat', sans-serif;
    }
    /*--humb
    --------------------------*/
    .humbWrapp{
        display:none;
    }
    /*--double button
    --------------------------*/
    .doubleButton li:hover{
        background:#3d92f9;
    }
    .doubleButton li:hover a{
        background:#3d92f9;
    }
    /*--service
    --------------------------*/
    .service article{
        flex:0 calc((100% - 80px) / 3);
    }
    /*--our work
    --------------------------*/
    .ourWork{
        padding:0 140px;
    }
    .workSlick .slick-prev, .workSlick .slick-next{
        background-size:auto;
        width:24px;
        height:24px;
    }
    .workSlick .slick-prev{
        right:50px;
        background-position:0 0;
    }
    .workSlick .slick-next{
        background-position:0 -48px;   
    }
    .workSlick .slick-prev:hover{
        background-position:0 -24px;
    }
    .workSlick .slick-next:hover{
        background-position:0 -72px;   
    }
    /*--team
    --------------------------*/
    .employees > li{
        flex:0 25%;
    }
    /*--Footer
    ------------------------------------------*/
    /*--address
    ---------------------------*/
    .address{
        width:385px;
        left:0;
        top:100px;
        bottom:auto;
    }
    .address::before{
        transform:rotate(90deg);
        left:auto;
        right:-30px;
        top:calc(50% - 2rem - 15px);
    }
    .address p:nth-child(1){
        font:400 1.8rem/2.8rem 'Montserrat', sans-serif;
    }
    .address p:nth-child(2){
        font:400 1.4rem/2.4rem 'Montserrat', sans-serif;
    }
    .address a{
        font:700 1.4rem/4rem 'Montserrat', sans-serif;
    }
    /*--basement
    ---------------------------*/
    .basement{
        display:flex;
    }
    .lists{
        flex:0 50%;
        justify-content:flex-start;
    }
    .lists ul{
        align-items:flex-start;
        margin:0 50px 0 0;
    }
    .lists ul:first-child{
        margin:0 70px 0 0;
    }
    .lists ul:last-child{
        margin:0;
    }
    .lists h4{
        font:700 1.4rem/2.4rem 'Open Sans', sans-serif;
    }
    .lists a{
        font:400 1.4rem/1.8rem 'Open Sans', sans-serif;
    }
    .lists a:hover{
        text-decoration:underline;
    }
    .subscribe{
        flex:0 50%;
        align-items:flex-end;
    }
    .subscribe form p{
        font:700 1.4rem/2.4rem 'Open Sans', sans-serif;
        margin:0 0 10px
    }
}